<div class="container">
    <h3>Employee Form</h3>
    <form #form="ngForm" novalidate>
        <div class="form-group">
            <label>First Name</label> 
            <input type="text" class="form-control" 
                required name="firstName" 
                [(ngModel)]="model.firstName">
        </div>
        <div class="form-group">
            <label>Last Name</label> 
            <input type="text" class="form-control" 
                required name="lastName" 
                [(ngModel)]="model.lastName">
        </div>

        <div class="checkbox">
            <label for="">
                <input type="checkbox" name="is-full-time" 
                [(ngModel)]="model.isFullTime">Full Time Employee
            </label>
        </div>        

      <label>Payment Type</label>
        <div class="radio">
            <label>
                <input type="radio" name="paymentType" 
                    value="w2" checked
                    [(ngModel)]="model.paymentType">
                W2
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="paymentType" 
                value="1099"
                [(ngModel)]="model.paymentType">
                1099
            </label>
        </div>

         <div class="form-group">
            <label>Primary Language</label> 
            <select name="primaryLanguage" class="form-control"
                [(ngModel)]="model.primaryLanguage">
                <option *ngFor="let lang of languages">
                    {{ lang }}
                </option>
            </select>
        </div>

        <!--<div class="form-group">
            <label>Date Hired</label> 
            <input type="color" class="form-control">
        </div>-->

        <button class="btn btn-primary" type="submit">OK</button>
    </form>
    Model: {{ model | json }}
    <br>
    Angular: {{ form.value | json }}
</div>
